// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
.w-5{
    height: 20px;
}
.flex-1{
    display: none;
}
.qwer{
    margin-top: 10px;
    margin-bottom: 20px;
}
body{
    background-image: url('https://img.ixintu.com/download/jpg/201909/afd2dab5c2fd90fa2c3af5d210c8ffa5.jpg!con');
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;

}